@using Examine.Providers
@using UmbracoExamine
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@helper RenderResults(ISearchResults results, UmbracoHelper umbraco)
{
    <ul>
        @foreach (var result in results)
        {
            var node = umbraco.TypedContent(result.Id);
            <li>
                <a href="@node.Url">@node.Name</a>
                <br />Relevance - (@result.Score)<br />
                Date created - @node.CreateDate
            </li>
        }
    </ul>
}

@{
    BaseSearchProvider _searcher = ExamineManager.Instance.SearchProviderCollection["ExternalSearcher"];

    string fieldToSearch = "bodyText";
    string HideFromNavigation = "umbracoNaviHide";

    var criteria = _searcher.CreateSearchCriteria(IndexTypes.Content);

    var searchTerm = string.Empty;

    searchTerm = string.IsNullOrEmpty(Request["query"]) ? string.Empty : Request["query"];

    if (searchTerm == string.Empty)
    {
        <p>Enter search term</p>
    }
    else
    {
        var examineQuery = criteria.Field(fieldToSearch, searchTerm);
        examineQuery.Not().Field(HideFromNavigation, 1.ToString());
        var results = _searcher.Search(examineQuery.Compile());

        if (results.TotalItemCount>0)
        {
            <p>You search for "<strong>@searchTerm</strong>" found @results.Count() results</p>
            @RenderResults(results, Umbraco)
        }
        else
        {
            <p>No results found for query @searchTerm</p>
        }
    }
}
